# Ignore environment variables file
.env

# Ignore any files or directories generated during development or by IDEs
.vscode/
*.pyc
__pycache__/

# Ignore any logs or temporary files
logs/
*.log
*.tmp

# Ignore any virtual environment directories
venv/

# Ignore directory containing security-related files
keys/
